/* styles.css */

    body {
        background-color: blanchedalmond;
    }

    .header {
        background-color: blanchedalmond;
        color:lightseagreen;
        font-weight: bold;
        font-family: Verdana, Georgia, Helvetica;
        text-align: center;
    }

    .taco {
        background-color: blanchedalmond;
        color: lightseagreen;
        font-weight: bold;
        font-family: Verdana, Georgia, Helvetica;
        text-align: center;
    }

    .dates {
        background-color: blanchedalmond;
        color: lightseagreen;
        font-weight: bold;
        font-family: Verdana, Georgia, Helvetica;
        text-align: center;
    }

    .cheese {
        background-color: blanchedalmond;
        color: lightseagreen;
        font-weight: bold;
        font-family: Verdana, Georgia, Helvetica;
        text-align: center;
    }

