/* styles.css */

    body {
        background: linear-gradient(45deg, #ffebcd, #20b2aa)
    }

    .header {
        color: blanchedalmond;
        font-weight: bold;
        font-family: Verdana, Georgia, Helvetica;
        text-align: center;
    }

    .list {
        color: lightseagreen;
        font-weight: bold;
        font-family: Verdana, Georgia, Helvetica;
        text-align: center;
    }

